body{
    background-color: #a09589;
}
input{
    width: 35px;
}

img{
    width: 20px;
}

.row{
    line-height: 0;
}

.cell{
    width: 150px;
    height: 150px;
    background-color: #8a6d3b;
    border: 1px solid grey;
    margin: 2px;
}

.new, .conf, .play_game{
    margin-bottom: 20px;
}

.cell:hover{
    cursor: pointer;
    background-color: #8a8219;
}

.step{
    width: 50px;
    height: 50px;
    background-color: #a5835f;
    border: 1px solid #7e5909;
    margin: 5px;
}

h4{
    margin-bottom: 90px;
}

@media all and (max-width: 770px) {
    .cell{
        width: 100px;
        height: 100px;

    }
}






